<div class='text-center'>
  <h2>{{name}}</h2>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
 {{#if comments.length}}
  {{#each comments as |comment|}}
  <div class="flex-column">
    <p>{{comment.comment_text}}</p>
    <p>Created by {{comment.user.name}} on {{format_date date_created}}</p>
    <button id="{{comment.id}}" class='btn btn-primary delete-btn'>Delete comment</button>
  </div>
  {{/each}}
  {{/if}}
  <input type="hidden" value={{id}} id='id'>
    <form class='form comment-form'>
      <div class='form-group'>
        <label for='comment'>Write comment here:</label>
        <input class='form-input' type="text" id='comment-text' />
      </div>
    </form>
    <button class='btn btn-primary comment-btn'>Submit comment</button>
  </p>
  {{#if matchingCreators}}
  <button>Update Post</button>
  {{/if}}
</div>
<script src='/js/comment.js'></script>